
body{
  background-color: #E5E3D9;
}


/* .App {
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html:before,
html:after,
body:before,
body:after {
  content: "";
  background: black;
  position: fixed;
  display: block;
  z-index: 1;
}

/* 上 */
html:before {
  height: 30px; 
  width: 100vw;
  left: 0;
  top: 0;
}

/* 右 */
html:after {
  width: 30px;
  height: 100vh;
  right: 0;
  top: 0;
}

/* 下 */
body:before {
  height: 30px;
  width: 100vw;
  bottom: 0;
  left: 0;
}

/* 左 */
body:after {
  width: 30px;
  height: 100vh;
  top: 0;
  left: 0;
}